.headerQsomos {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: magenta;
    padding: 5rem 0 5rem 0;
}
.mainQSomos {
    display: flex;
    width: 100%;
}

.textQsomos {
    display: flex;
    flex-direction: column;
    padding: 120px 15rem 0 0;
    text-align: left;
    
}



/* Imagem ocupando 100% do container e mantendo proporção */
.mainQSomos img {
    width: 45%;       /* w-full */
    height: 55%;
    margin: 5rem;
    object-fit: cover; /* object-cover */
    max-width: 1080px; /* Aumenta a resolução */
    border-radius: 35px;
    border: solid 2px;
    box-shadow: 6px 6px 18px rgba(0,0,0,0.55); /* offset-x offset-y blur color */
}

.cardsQsomos {
  background-color: black;
}

.row {
  gap: 4px
}


.card {
  background-color: white;
  width: 250px;
  align-items: center;
}

.card img {
  width: 45%;
}