.headerQsomos {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: magenta;
    padding: 5rem 0 5rem 0;
}
.mainQSomos {
    display: flex;
    width: 100%;
    height: 100vh; /* opcional, dependendo do seu layout */
}

.textQsomos {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10rem 30rem 0 0;
}

/* No desktop, divide em 2 colunas (metade da tela cada) */
@media (min-width: 1024px) { /* equivale ao breakpoint lg */
  .container {
    grid-template-columns: repeat(2, 1fr);
  }
}

/* Imagem ocupando 100% do container e mantendo proporção */
.mainQSomos img {
    width: 45%;       /* w-full */
    height: 75%;
    padding: 5rem;
    object-fit: cover; /* object-cover */
}

.mainQSomos img {
  max-width: 1080px; /* opcional */
}